<div class="container">
  
  <form class="form-horizontal" novalidate>
    <div class="form-group">
      <label class="col-sm-3 control-label">Gender</label>
      <div class="col-sm-9">
        <label class="radio-inline">
          <input type="radio" name="gender" value="male" checked>Male
        </label>
        <label class="radio-inline">
          <input type="radio" name="gender" value="female">Female
        </label>
      </div>
    </div>
    
    <div class="form-group">
      <label class="col-sm-3 control-label">Marital Status</label>
      <div class="col-sm-4">
        <select class="form-control" name="marital">
          <option value=""></option>
          <option value="Single">Single</option>
          <option value="Married">Married</option>
          <option value="Divorced">Divorced</option>
        </select>
      </div>
    </div>
    
    <div class="form-group">
      <label class="col-sm-3 control-label">Highest Level Of Education </label>
      <div class="col-sm-4">
        <select class="form-control" name="education">
          <option value=""></option>
          <option value="HighSchool">High School</option>
          <option value="UnderGraduate">Undergraduate</option>
          <option value="Masters">Masters</option>
        </select>
      </div>
    </div>
    
    <div class="form-group">
      <label class="col-sm-3 control-label">Employee Status</label>
      <div class="col-sm-4">
        <select class="form-control" name="employment">
          <option value=""></option>
          <option value="Student">Student</option>
          <option value="Employed">Employed</option>
          <option value="SelfEmployed">Self-Employed</option>
          <option value="UnEmployed">Unemployed</option>
          <option value="Retired">Retired</option>
        </select>
      </div>
    </div>
    
    
    <div class="form-group">
      
      <label class="col-sm-3 control-label">Social Security Number<br><small>(required for most accurate quote)</small></label>
      <div class="col-sm-4">
        <input class="form-control" name="ssn" maxlength="9" type="text" required/>
      </div>
      
      <div class="col-sm-1">
        <a href="#">
          <span class="glyphicon glyphicon-lock"></span>
        </a>
      </div>
    </div>
    
    <hr class="line">
    
    <h3>Residency</h3>
    
    <div class="form-group">
      <label class="col-sm-3 control-label">Primary Residence </label>
      <div class="col-sm-4">
        <select class="form-control" name="residence">
          <option value=""></option>
          <option value="Permenant">Permenant</option>
          <option value="Temporary">Temporary</option>
        </select>
      </div>
    </div>
    
    <div class="form-group">
      <label class="col-sm-3 control-label">Moved in the last two months</label>
      <div class="col-sm-9">
        <label class="radio-inline">
          <input type="radio" name="moved" value="yes">Yes
        </label>
        <label class="radio-inline">
          <input type="radio" name="moved" value="no">No
        </label>
      </div>
    </div>
    <hr class="line">
    <h3>Driving History</h3>
    
    <div class="form-group">
      <label class="col-sm-3 control-label">US.License Status </label>
      <div class="col-sm-4">
        <select class="form-control" name="licenseStatus">
          <option value="Valid" selected>Valid</option>
          <option value="Invalid">Invalid</option>
        </select>
      </div>
    </div>
    
    <div class="form-group">
      <label class="col-sm-3 control-label">Years Licensed </label>
      <div class="col-sm-4">
        <select class="form-control" name="licensedYears">
          <option value=""></option>
          <option value="2016">2016</option>
          <option value="2015">2015</option>
          <option value="2014">2014</option>
          <option value="2013">2013</option>
          <option value="2012">2012</option>
          <option value="2011">2011</option>
        </select>
      </div>
    </div>
    <hr class="line">
    
    <h3>Additional Information</h3>
    
    <div class="form-group">
      <label class="col-sm-3 control-label">Primary Email Address<br><small>(We will NOT sell your email address.)</small></label>
      <div class="col-sm-4">
        <input class="form-control" name="emailPrimary" type="email" required>
      </div>
    </div>
    
    <div class="form-group">
      <label class="col-sm-3 control-label">How many residents live in the home?<br><small>(Including drivers on quote,excluded drivers,children and roommates.)</small></label>
      <div class="col-sm-4">
        <input class="form-control" name="residents" type="number" min="1" max="10" required>
        
      </div>
    </div>
    <hr class="line">
    <h3>Accidents, Violations and Claims</h3>
    <p>As a driver you had any(regardless of fault):</p>
    
    <div class="form-group">
      <label class="col-sm-5 control-label">Accidents, claims or other damages you had to your vehicle (last 5years/october 2011):<br><small>eg:Hitting a car/object/property/animal, car hits you ,weather,vandalism,theft,hail</small></label>
      <div class="col-sm-5">
        <label class="radio-inline">
          <input type="radio" name="accidents" value="yes">Yes
        </label>
        <label class="radio-inline">
          <input type="radio" name="accidents" value="no">No
        </label>
      </div>
    </div>
    
    <div class="form-group">
      <label class="col-sm-5 control-label">Tickets or Violations (last 3 years/oct 2013):</label>
      <div class="col-sm-5">
        <label class="radio-inline">
          <input type="radio" name="tickets" value="yes">Yes
        </label>
        <label class="radio-inline">
          <input type="radio" name="tickets" value="no">No
        </label>
      </div>
    </div>
    <hr class="line">
    
    
    <label class="col-sm-10 control-label"><a href="#"><ins>Back</ins></a></label><div class="col-sm-2">
    <button type="submit" class="btn btn-primary btn-lg">Save & Continue </button>
  </div>
</form>
</div>